<%= form_for [:admin, @category] do |f| %>
  <div class="register-top-grid">
    <%= render "shared/error_messages", object: f.object %>
    <div class="mation">
      <span><%= t "garena.name2" %></span>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="register-but">
      <%= f.submit :Submit, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="clearfix"> </div>
