<ul class="nav nav-sidebar">
  <li>
    <%= link_to t("views.admin.layouts.sidebar.user"), admin_users_path %>
  </li>
  <li>
    <%= link_to t("views.admin.layouts.sidebar.category"), admin_categories_path %>
  </li>
  <li>
    <%= link_to t("views.admin.layouts.sidebar.artists"), admin_artists_path %>
  </li>
  <li>
    <%= link_to t("views.admin.layouts.sidebar.album"), admin_albums_path %>
  </li>
  <li>
    <%= link_to t("views.admin.layouts.sidebar.song"), admin_songs_path %>
  </li>
</ul>
