<div class="container-fluid">
 <div class="row">
  <h3 class="sub-header"><%= t "views.admin.users.index.user_list" %></h3>
   <%= form_tag admin_users_path, method: :get do %>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag t("views.admin.users.index.search"), name: nil %>
   <% end %>
    <%= link_to t("views.admin.users.index.excel"), admin_users_path(format: "xls"), class: "pull-right" %>
    <%= link_to new_admin_user_path do %>
      <span><i class="fa fa-plus fa-2px"></i><%= t "views.admin.users.index.new_user" %></span>
    <% end %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t "views.admin.users.index.name" %></th>
            <th><%= t "views.admin.users.index.email" %></th>
            <th><%= t "views.admin.users.index.activated" %></th>
            <th><%= t "views.admin.users.index.create_at" %></th>
            <th><%= t "views.admin.users.index.role" %></th>
            <th><%= t "views.admin.users.index.edit" %></th>
            <th><%= t "views.admin.users.index.delete" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "user", collection: @users %>
        </tbody>
      </table>
      <%= paginate @users, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
