<div class="sub-cate">
    <div class=" top-nav rsidebar span_1_of_left">
    <h3 class="cate"><%= t "views.layouts.left-menu.categoies" %></h3>
    <ul class="menu">
      <li class="item1">
        <a href="#" class="">
          <%= t "views.layouts.left-menu.pop" %>
        </a>
      </li>
      <li class="item1">
        <a href="#" class="">
          <%= t "views.layouts.left-menu.rock" %>
        </a>
      </li>
      <li class="item1">
        <a href="#" class="">
          <%= t "views.layouts.left-menu.balass" %>
        </a>
      </li>
      <li class="item1">
        <a href="#" class="">
          <%= t "views.layouts.left-menu.rock2" %>
        </a>
      </li>
      <li class="item1">
        <a href="#" class="">
          <%= t "views.layouts.left-menu.rap" %>
        </a>
      </li>
      <li class="item1">
        <a href="#" class="">
          <%= t "views.layouts.left-menu.latin" %>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix"> </div>
